@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Roboto+Condensed:wght@400;700&display=swap');

html, body {
  height: 100%;
  width: 100%;
}

/* overwrites the default bootstrap container */
@media (min-width: 768px){
  .container{
    max-width:80% !important;
  }  
}

@media (min-width: 992px){
  .container{
    max-width:80% !important;
  }
}

@media (min-width: 1200px){
  .container{
    max-width:80% !important;
  }  
}

@media (min-width: 1400px){
  .container{
    max-width:80% !important;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
No idea why the Searchbar is black.
This overwrites the black settings and adds the default text color
*/
.leaflet-control-geosearch form input {
  background-color: white;
  color:#76777FFF;
}

/* Makes sure that the dropdown menu is not showing up behind the search bar */
.leaflet-geosearch-bar {
  z-index: 500;
}

.leaflet-container {
  border-radius: 15px;
  box-shadow: 0 0 0 8px #fff;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.25em;
  font-family: "Space Grotesk", sans-serif;
  color: #ffffff;
  background: rgb(2,0,36);
  background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(0,212,255,1) 28%, rgba(2,155,217,1) 53%, rgba(3,141,208,1) 59%, rgba(9,9,121,1) 96%);
}

#root h1{
  font-style: italic;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.25em;
}

.text-backg{
  display: inline-block;
  background-color: #6d6c6a; /* Set the background color */
  transform: rotate(-1deg); /* Rotate the background */
  padding: 1vh; /* Add some padding */
  box-shadow: 0 0 15px #0000008f; /* Add some text shadow */
  border-radius: 15px;
}

.text-backg-span {
  font-family: "Space Grotesk", sans-serif;
  display: block;
  transform: rotate(1deg); /* Rotate the text back to normal */
  color: #000; /* Fallback for older browsers */
  color: rgba(22, 160, 227, 1);
  font-size: 1.35em;
  font-style: normal;
}

.container{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
/* height of the container */
.leaflet-container {
  height: 80vh; 
  margin-top: 3vh;
  width: 80vw;
}

.container .navbar-container{
  height:50px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*
.sticky-nav {
  position: sticky;
  top: 0;
  height: 50px;
}
*/

/* need higher z-index than the searh bar to make sure the dropdown menu is not showing behind the search bar */
.navdrop{
  z-index: 1000;
}

#footer{
  height: 1vh;
  padding: 1vh;
}

.edit-location-button {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10000;
  background-color: white;
  color:#76777FFF;
  border-radius: 15px;
  box-shadow: 0 0 0 1px #000000;
}

.boulder-popup{
  padding: 1vh;
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 40vh;
  right: 40vh;
  z-index: 10000;
  background-color: rgba(255, 255, 255, 0.734);
  color:#76777FFF;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  height:15vh;
  width:25vh;
  justify-content: space-between;
}

.boulder-popup button{
  background-color: rgba(0, 76, 255, 0.734);
  color:rgb(255, 255, 255);
  margin-right: 1vh;
}


/* fixes the issue that the text color of the results is white*/
.results{
  background-color: white;
  color:#76777FFF;
}