* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* 
No idea why the Searchbar is black.
This overwrites the black settings and adds the default text color
*/
.leaflet-control-geosearch form input {
  background-color: white;
  color:#76777FFF;
}

.leaflet-container {
  border-radius: 15px;
  box-shadow: 0 0 0 6px #fff;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1em;
  font-family: sans-serif;
  color: #c5bebe;
  background: radial-gradient(#37ed5b, #000000);
}

.container{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.container table{
  float: left;
  width: 100px;
}

/* height of the container */
.leaflet-container {
  height: 90vh;
  width: 70vw;
}
